{% load static %}

{{ masters|json_script:"masters-data" }}

<section class="section" id="about">
    <h2 class="section-title about">О нас</h2>
    <p class="about-text">
        Мы — это команда профессионалов, у которых за плечами многолетний опыт и множество довольных клиентов. 
        Наша парикмахерская предлагает широкий спектр услуг: стрижки, укладки, окрашивания и многое другое. 
        Мы используем только качественные и проверенные средства, чтобы вы всегда выглядели наилучшим образом.
    </p>
    <h3 class="about-title">Преимущества нашей парикмахерской</h3>
    <ul class="about-list">
        <li>Персонализированный подход к каждому клиенту</li>
        <li>Современные техники и стили</li>
        <li>Теплая и дружелюбная атмосфера</li>
        <li>Профессиональные мастера с большим опытом работы</li>
        <li>Выгодные цены на услуги</li>
        <li>Качественные средства для окрашивания</li>
        <li>В течение дня регулярно проводится обработка помещений и рабочих поверхностей дезинфицирующими средствами</li>
        <li>Все инструменты обрабатываются антисептиками и стерилизуются в медицинских автоклавах</li>
    </ul>
    <h3 class="about-title">Наши мастера</h3>

    <div class="slider">
        <div class="cards" role="list"></div>

        <div class="dots" role="tablist"></div>
    </div>
</section>
