<section class="section" id="partners">
  <h2 class="section-title partners">Наши партнеры</h2>
  <img class="scissors" src="../../../static/landing/images/scissors.png" alt="">
  <div class="logos-partners">
    <a href="#" target="_blank">
      <img class="logo-partners" src="../../../static/landing/images/logo_partners.png" alt="Изображение Наши партнеры" />
    </a>
    <a href="#" target="_blank">
      <img class="logo-estel" src="../../../static/landing/images/logo_estel.png" alt="Логотип Estel" />
    </a>  
  </div>
</section>