.slider{
	width: 100%;
}

.cards{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	margin: initial !important;
}

.cards .item{
	width: 300px;
	height: 400px;
	border-radius: 5px;
	background-color: #21262d;
	color: #fff;
	position: absolute;
	top: 0;
	text-align: center;
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.4s;
	border: 3px solid #fff;
	overflow: hidden;
}

.cards .item .main_content{
	width: 100%;
}

.cards .item .main_content .img{
	width: 100%;
	height: 100%;
}

.cards .item .main_content .img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cards .item .main_content .content{
	display: none;
	/* opacity:0; transform: translateY(10px); transition: opacity .3s, transform .3s;  */
}

.cards .item .main_content .content h2{
	margin: 15px 0;
	font-size: 30px;
	color: #fff;
}

.cards .item .main_content .content h4{
	margin-bottom: 10px;
}

/* .cards .item .main_content .content h4,
.cards .item .main_content .content p{
	margin-top: -10px;
} */

.cards .item .main_content .content p{
	height: 75px;
	overflow: auto; /* если нужно прокрутка внутри */
	margin-bottom: 10px;
	padding-right: 10px;
	font-size: 13px;
	font-weight: 300;
}

.cards .item .main_content .content .social{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content .social .icon{
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .social .icon i{
	font-size: 22px;
	color: #000;
	transition: 0.5s;
}

.content .social .icon:hover i{
	color: var(--color);
}

.dots{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

.dots label{
	width: 5px;
	height: 5px;
	background-color: #21262d;
	border-radius: 50%;
	margin: 7px;
	cursor: pointer;
	transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
