@font-face {
	font-family: 'Aquarelle';
  src:  url('../fonts/Aquarelle/Aquarelle.woff2') format('woff2'),
        url('../fonts/Aquarelle/Aquarelle.woff') format('woff'),
        url('../fonts/Aquarelle/Aquarelle.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Oranienbaum-Regular';
  src:  url('../fonts/Oranienbaum/Oranienbaum-Regular.woff2') format('woff2'),
        url('../fonts/Oranienbaum/Oranienbaum-Regular.woff') format('woff'),
        url('../fonts/Oranienbaum/Oranienbaum-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Prata-Regular';
  src:  url('../fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata/Prata-Regular.woff') format('woff'),
        url('../fonts/Prata/Prata-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  /* чтобы было полноэкранное расположение: */
  /* min-height: 100vh; */

  font-family: 'Oranienbaum-Regular', sans-serif;
  color: rgba(0, 0, 0, 1);
}

.container {
	max-width: 1440px;
	width: 100%;
	padding: 40px 130px;
}

header {
	position: relative;
}

.header-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

ul {
	list-style-type: none;
}

li {
  margin: 0 30px;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
  text-shadow: 0 0 0 transparent;
}

a:hover {
  text-shadow: 0 0 1px black;
}

.logo {
	width: 80px;
	margin-bottom: 120px;
}

.image-bg {
	width: 500px;
	position: absolute;
	top: 30px;
	right: 0;
	z-index: -999;
}

.image-left {
	width: 300px;
	position: absolute;
	top: 250px;
	left: -150px;
	z-index: -999;
}

.header-title {
	margin-bottom: 10px;
	font-family: 'Aquarelle', sans-serif;
	font-size: 100px;
}

.header-slogan {
	margin-bottom: 255px;
	font-size: 22px;
}

.header-advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.advantage {
	width: 225px;
	height: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(224, 69, 4, 1);
	text-align: center;
}

.advantage-text {
	margin-top: 10px;
	font-size: 18px;
	color: rgba(242, 243, 244, 1);
}

footer {
	margin-top: 100px;
}

.footer-menu {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
	margin-bottom: 0;
}

.footer-right {
	font-size: 14px;
  text-align: right;
}



/* 

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, #30cfd0, #330867);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider .slider__item {
  display: block;
  opacity: 0.4;
  text-align: center;
  transition: 0.2s;
  margin: 0 15px;
}

.slider .slider__item img {
  border: 3px solid #fff;
}

.slider .slider__item .slick-center {
  opacity: 1;
}
.slider .slick-arrow {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  color: #330867;
  background-color: #fff;
  padding: 3px 10px;
  bottom: -50px;
}

.slider .slick-prev {
  right: 50px;
  transform: rotate(180deg);
}

.slider .slick-next {
  right: 0px;
}
.slider .slider__counter {
  position: absolute;
  color: #fff;
  font-size: 20px;
  bottom: -45px;
  right: 100px;
} */